*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,
span,
p,
a{
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Heebo', sans-serif;
    color: #1c1c25;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}
ul li{
    list-style: none;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.fixdwidth{
    max-width: 1200px;
    margin: auto;
}

/*=========== HELPER CSS ===========*/
.defult-btn{
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 30px;
    background: linear-gradient(#d81700,#fa532a);
    background-color: #fa532a;
    transition: 0.5s;
}
.defult-btn:hover{
    background: linear-gradient(#fa532a,#d81700);
    background-color: #fa532a;
}

.defult-heading{
    text-align: center;
}
.defult-heading span{
    color: #e0260a;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.defult-heading h2{
    color: #1c1c25;
    font-size: 35px;
    font-weight: 800;
}


/*============= HEADER SECTION ==========*/
header{
    position: relative;
    z-index: 2;
    overflow: hidden;
}



nav {
	background: #1747b4;
	/* padding: 7px 0; */
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
}
.logo {
	position: relative;
	top: 4px;
    padding: 5px 0;
}
nav .fixdwidth{
    display: flex;
    justify-content: space-between;
}
nav .logo a img{
    width: 80px;
}
nav .header-menu ul{
    display: flex;
}
nav .header-menu ul li{
    position: relative;
}
nav .header-menu ul li a{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    padding: 24px 10px;
    transition: 0.5s;
}
nav .header-menu ul li a.active,
nav .header-menu ul li:hover > a{
    color: #c71a0c;
}
nav .header-menu ul li ul{
    position: absolute;
    top: 200%;
    left: 0;
    width: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform-origin: bottom;
    transition: all 0.4s ease-in-out;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    border-radius: 0 0 4px 4px;
}
nav .header-menu ul li:hover ul{
    top: 100%;
    opacity: 1;
    visibility: visible;
    transform-origin: bottom center;
}
nav .header-menu ul li ul li{
    display: block;
}
nav .header-menu ul li ul li a{
    display: block;
    padding: 6px 0;
    padding-left: 10px;
    color: #000;
}
.header-button{
    margin-top: 6px;
    padding: 5px 0;
}
nav .header-menu ul li a span{
    font-size: 11px;
}
nav .header-menu ul li a span.minus{
    display: none;
}
nav .header-menu ul li:hover > a span.plus{
    display: none;
}
nav .header-menu ul li:hover > a span.minus{
    display: inline-block;
}



/*=========== BANNER SECTION ==========*/
.banner-section{
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 40px;
}
.banner-section .fixdwidth{
    display: flex;

}
.banner-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.banner-content span{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.banner-content h1{
    font-size: 38px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 3px;
}
.banner-content h2{
    color: #fff;
    font-size: 33px;
    margin-bottom: 10px;
}
.banner-content p{
    color: #fff;
    line-height: 30px;
    width: 90%;
}

.banner-button {
    margin-top: 30px;
}
a.banner-a-btn {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	margin-left: 15px;
	padding: 10px 19px 8px 0px;
	border-radius: 30px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}
a.banner-a-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    transition: 0.3s;
    z-index: -1;
}
a.banner-a-btn:hover::after{
    width: 100%;
}
a.banner-a-btn:hover{
    color: #d61700;
}
a.banner-a-btn span{
    color: #d61700;
    font-size: 17px;
    text-align: center;
    background: #fff;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
}
.banner-img{
    width: 40%;
}
.banner-img img{
    width: 100%;
}

.header-animation{
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.header-animation .b-m-l{
    margin-left: 50px;
}
.header-animation .b-m-r{
    margin-right: 50px;
}

.animated-line{
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255,0.1);
    position: relative;
}
.animated-line:nth-child(1)::after{
    content: "";
    position: absolute;
    top: 100%;
    left: -2.5px;
    width: 5px;
    height: 18px;
    background: #fff;
    animation: naim 4.5s ease-in-out infinite;
}
.animated-line:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 100%;
    left: -2.5px;
    width: 5px;
    height: 18px;
    background: #fff;
    animation: naim 5.1 ease-in-out infinite;
}
.animated-line:nth-child(3)::after{
    content: "";
    position: absolute;
    top: 100%;
    left: -2.5px;
    width: 5px;
    height: 18px;
    background: #fff;
    animation: naim 4.5s ease-in-out infinite;
}
.animated-line:nth-child(4)::after{
    content: "";
    position: absolute;
    top: 100%;
    left: -2.5px;
    width: 5px;
    height: 18px;
    background: #fff;
    animation: naim 5s ease-in-out infinite;
}
.animated-line::after{
    content: "";
    position: absolute;
    top: 100%;
    left: -2.5px;
    width: 5px;
    height: 18px;
    background: #fff;
    animation: naim 4.7s ease-in-out infinite;
}

@keyframes naim{
    0%{
        top: 0;
    }
    100%{
        bottom: 100%;
    }
}

/******** DEVELOPER NAIMUL *******/
/*============ FEATURES SECTION ===========*/
.features {
    padding: 100px 0;
}
.features .fixdwidth{
    display: flex;
    justify-content: space-between;
}
.featuer-img{
    width: 45%;
}
.featuer-img img{
    width: 100%;
}
.featuer-content {
    width: 50%;
}
.featuer-content span{
    color: #ea3615;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
}
.featuer-content h1{
    font-size: 38px;
}
.featuer-content h2{
    font-size: 36px;
    margin-bottom: 15px;
}
.featuer-content p{
    color: #707070;
    font-size: 16px;
    line-height: 30px;
}
.features-box{
    margin: 20px 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.featuer-content .features-button{
    display: flex;
    flex-direction: column;
}
.featuer-content .features-button a{
    color: #1c1c25;
    font-size: 16px;
    margin: 8px 0;
    transition: 0.5s;
}
.featuer-content .features-button a:hover span,
.featuer-content .features-button a:hover{
    color: #de2107;
}
.featuer-content .features-button a span{
    color: #311c25;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.5s;
}
.features-btn a{
    font-weight: 600;
    font-size: 16px;
}
.features-btn a span{
    display: inline-block;
    margin-bottom: 0;
    font-size: 11px;
    padding-top: 0.5px;
    background: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 7px;
}


/*========== CONTACT SECTION ==========*/
.contact{
    background-image: url(../img/ia_100000024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
}
.contact-title{
    text-align: center;
    margin-bottom: 40px;
}
.contact-title h2{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}
.contact-title h1{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
}
.contact-form form{
    display: flex;
    justify-content: space-between;
}
.contact-form form input{
    background: #fff;
    font-size: 16px;
    padding: 15px;
    padding-left: 15px;
    border: none;
}
.contact-form form input:focus{
    border: none;
    outline: none;
}
.contact-form form input.f-name{
    width: 39%;
}
.contact-form form input.y-email{
    width: 34%;
}
.contact-form form button{
    width: 24%;
    border-radius: 0;
    border: none;
    padding: 15px 0;
}



/*=========== MARDETING SECTION ==========*/
.marketing{
    padding: 100px 0;
}

.marketing-items{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.marketing-box{
    width: 49%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
}
.marketing-box::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    background: #fa4415;
    transition: 0.5s;
    z-index: -1;
}
.marketing-box:hover::before{
    width: 80%;
}
.marketing-box:hover h2{
    color: #fff;
}
.marketing-box:hover p{
    color: #fff;
}
.markt-box-img{
    width: 20%;
}
.markt-box-img img{
    width: 100%;
}
.markt-box-cont{
    width: 78%;
}
.markt-box-cont h2{
    margin-bottom: 15px;
    transition: 0.5s;
}
.markt-box-cont p{
    color: #808080;
    line-height: 27px;
    transition: 0.5s;
}


/*========= PROJECT SECTION ==========*/
.project{
    background-image: url(../img/ia_100000023.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.project .defult-heading{
    margin-bottom: 30px;
}
.project-menu {
    margin-bottom: 40px;
}
.project-menu ul {
    display: flex;
    justify-content: center;
}
.project-menu ul li{
    margin-left: 5px;
}
.project-menu ul li a{
    display: inline-block;
    color: #606060;
    padding: 15px 35px 15px 20px;
    font-size: 17px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}
.project-menu ul li a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 0, 70% 100%, 0% 100%);
    background: #df2308;
    z-index: -1;
    transition: 0.5s;
}
.project-menu ul li:hover a::after{
    width: 100%;
}
.project-menu ul li:hover a{
    color: #fff;
}

.project-menu ul li:first-child{
    clip-path: polygon(0% 0%, 75% 0%, 100% 0, 70% 100%, 0% 100%);
    background: #df2308;
}

.project-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-img{
    margin-bottom: 18px;
    width: 32%;
}
.project-img img{
    width: 100%;
}

.project-img:nth-child(4){
    width: 66%;
}
.project-img:nth-child(5){
    width: 32%;
}

.project-img:nth-child(6){
    width: 49%;
}
.project-img:nth-child(7){
    width: 49%;
}

/*----HOVER BOX -----*/
.project-img{
    position: relative;
    overflow: hidden;
}
.project-hover-box{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 80%;
    padding: 10px 20px 10px 30px;
    background: #fff;
    clip-path: polygon(80% 0, 100% 100%, 0% 100%, 0% 0%);
    transform: translateX(-320px);
    opacity: 1;
    transition: 0.5s;
}
.project-img:hover .project-hover-box{
    transform: translateX(0);
    opacity: 1;
}

.project-hover1{
    width: 45%;
    transform: translateX(-360px);
    transition: 0.5s;
}

.project-hover{
    width: 60%;
    transform: translateX(-360px);
    opacity: 1;
    transition: 0.5s;
}

.project-hover-box span{
    color: #707070;
    display: inline-block;
}
.project-hover-box h3{
    color: #e02c11;
    font-size: 20px;
    font-weight: 400;
}




/*============= QUESTION SECTION ===========*/
.question{
    margin-top: 80px;
    padding-bottom: 80px;
}
.question .fixdwidth{
    display: flex;
    justify-content: space-between;
}

.question .defult-heading{
    text-align: left;
}
.defult-heading h2{
    margin-bottom: 13px;
}
.defult-heading p{
    color: #808080;
    margin-bottom: 30px;
}

.ques-content {
    width: 47%;
    margin-top: 20px;
}
.ques-form ul li{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid rgba(153, 153, 153, 0.3);
}
.ques-form ul li:first-child{
    background: linear-gradient(#d31703,#f85027);
}
.ques-form ul li:first-child h3{
    color: #fff;
}
.ques-form ul li:first-child span{
    color: #fff;
}

.ques-form ul li span{
    color: #111;
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 2px;
}
.ques-form ul li span:last-child{
    font-size: 15px;
    padding-top: 3px;
}
.ques-form ul li h3{
    color: #111;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
    font-weight: 400;
}
.ques-form ul li:nth-child(2){
    border: transparent;
}
.ques-form ul li p{
    border: transparent;
    color: #808080;
    margin-left: 10px;
}
.ques-img {
    width: 46%;
}
.ques-img img{
    width: 100%;
}


/*========== TESTIMONIAL SECTION ==========*/
.testimonial{
    background: url(../img/ia_100000024.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
.testimonial-heding{
    text-align: center;
}
.testimonial-heding span{
    font-size: 18px;
    color: #fff;
}
.testimonial-heding h2{
    font-size: 32px;
    color: #fff;
}
.testi-items{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.testi-box{
    width: 460px;
    height: 170px;
    background: rgba(190, 192, 196,0.7);
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
    position: relative;
}
.testi-box h4{
    color: #13131c;
    font-weight: 500;
}

.testi-box-up {
	position: absolute;
	top: -40px;
	left: -25px;
	width: 100%;
	height: 100%;
	background: #fefefe;
    padding: 20px 15px 20px 60px;
}
.testi-box-up P{
    color: #323232;
    line-height: 24px;
}
.testi-over-box {
	position: absolute;
	top: 30px;
	left: -25px;
	background: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.testi-over-box span{
    display: inline-block;
    color: #ed3c19;
    font-size: 25px;
}

.testi-icon {
	position: absolute;
	bottom: 32px;
	left: 46%;
}
.testi-icon span.redd{
    color: #fe5327;
    margin-right: 8px;
    font-size: 17px;
}
.testi-icon span{
    color: #fff;
    font-size: 17px;
}


/*=========== PRICING SECTION ===========*/
.pricing{
    background: #fff;
    padding: 100px 0;
} 

.pricing-items{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.pricing-box {
	background: url(../img/ia_100000027.jpg) no-repeat center;
	background-size: cover;
	width: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    transition: 0.5s;
}
.p-box-img img{
    width: 100%;
}

.pricing-box h2{
    font-size: 22px;
    font-weight: 600;
}

.pricing-box ul{
    margin-top: 20px;
}
.pricing-box ul li{
    margin-bottom: 15px;
    text-align: center;
}
.pricing-box ul li p{
    color: #988c8e;
    font-size: 16px;
}
.pricing-btn a {
	background: #1c1c25;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 15px;
    transition: 0.5s;
}

.pricing-over-btn{
    position: absolute;
    top: 20px;
    left: 0;
}
.pricing-over-btn a {
	display: inline-block;
	font-size: 15px;
	background: #1c1c25;
	color: #fff;
	padding: 8px 20px;
	border-radius: 0 30px 30px 0;
	font-weight: 500;
    transition: 0.5s;
}

.pricing-box:nth-child(2) .pricing-btn a,
.pricing-box:nth-child(2) .pricing-over-btn a,
.pricing-box:hover .pricing-btn a,
.pricing-box:hover .pricing-over-btn a{
    background: linear-gradient(#d81e07,#f95026);
}

.pricing-box:nth-child(2) h2,
.pricing-box:hover h2{
    color: #e52d0c;
}

.pricing-box:hover{
    color: #fff;
}


/*========= BLOG SECTION ========*/
.blog{
    background: #ecf2fa;
    padding: 100px 0;
}

.blog-items{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.blog-box{
    width: 32%;
    background: #fff;
}

.blog-img{
    overflow: hidden;
}
.blog-img img {
	width: 100%;
	transform: rotate(0) scale(1.1) translateY(5px);
    transition: 0.5s;
    cursor: pointer;
}
.blog-box:hover .blog-img img{
    transform: rotate(-20deg) scale(1.4);
}
.blog-icon {
    display: flex;
    margin-bottom: 15px;
}
.blog-icon span {
	display: inline-block;
	color: #d91400;
    font-size: 15px;
    margin-right: 7px;
    cursor: pointer;
}
.blog-icon span.mml{
    margin-left: 20px;
}

.blog-icon p{
    color: #808080;
    font-size: 15px;
    margin: 0 !important;
    cursor: pointer;
    transition: 0.4s;
}

.blog-box h2{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}
.blog-box p{
    color: #808080;
    margin: 15px 0;
}

.blog-box h2:hover,
.blog-icon p:hover,
a.blog-btn:hover{
    color: #d91400;
}
a.blog-btn{
    color: #0a1b32;
    text-decoration: underline;
    font-weight: 500;
    transform: 0.4s;
}

.blog-content{
    padding: 25px;
}


/*======== FOOTER SECTION =========*/
footer{
    background: url(../img/ia_100000028.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}
footer h1,
footer h2,
footer p,
footer a{
    color: #fff;
}
.footer-title{
    color: #fff;
    font-size: 21px;
    margin-bottom: 25px;
}

.footer-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* footer content */
.footer-content{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #564d73;
    border-bottom: 2px solid #564d73;
    padding: 80px 0;
}

.footer-social {
    width: 26%;
}
.footer-social ul li{
    margin-bottom: 18px;
}
.footer-social ul li a{
    font-size: 15px;
    color: #fdfcfe;
    transition: 0.5s;
}
.footer-social ul li a:hover span{
    background: #f64e27;
    color: #fff;
}
.footer-social ul li a span {
	color: #d50b00;
	display: inline-block;
	background: #fdfcfe;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	margin-right: 10px;
    border: 1px solid #fff;
    transition: 0.2s;
}

/* footer text */
.footer-text {
	width: 26%;
	display: flex;
	justify-content: space-between;
	position: relative;
	left: -40px;
}
.footer-text-left{
    width: 45%;
}
.footer-text-left ul{
    margin-left: 14px;
}
.footer-text-left ul li{
    list-style: disc;
    margin-bottom: 10px;
}
.footer-text-left ul li a{
    font-size: 15px;
    transition: 0.4s;
}
.footer-text-left ul li a:hover{
    color: #dc2007;
}

.footer-text-right{
    width: 45%;
}
.footer-text-right ul li{
    margin-bottom: 10px;
}
.footer-text-right ul li a{
    font-size: 15px;
    transition: 0.4s;
    cursor: pointer;
}
.footer-text-right ul li a:hover{
    color: #dc2007;
}

/* footer form */
.footer-form{
    width: 26%;
}
.footer-form p{
    font-size: 15px;
}
.footer-form form input {
	background: #fff;
	padding: 10px;
	width: 100%;
	border: none;
	font-size: 15px;
    margin: 15px 0;
}
.footer-form form input:focus{
    outline: none;
}
.footer-form form button {
	border-radius: 0;
	border: navajowhite;
	width: 100%;
}
/*======= FOOTER BOTTOM =======*/
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-bottom P{
    color: #fff;
    font-size: 15px;
}
.footer-bottom ul.footer-menu{
    display: flex;
}
.footer-bottom ul.footer-menu li a{
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    transition: 0.4s;

}
.footer-bottom ul.footer-menu li a:hover{
    color: #e1290d;
}



.scroll-up{
    position: fixed;
    right: 25px;
    bottom: 35px;
    z-index: 9;
    transition: 1s;
}
.scroll-up a{
    display: inline-block;
    background: #d81801;
    color: #fff;
    font-weight: 600;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transition: 0.4s;
    animation: naimul 1.5s  infinite;
}
.scroll-up a:hover{
    background: #f64b23;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
@keyframes naimul {
    0%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(15px);
    }
}